.App {
  text-align: center;
}

.App-logo {
  width: 30vmin;
  height: 30vmin;
  padding: 10px;
  margin-bottom: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinnaz {
    animation: App-logo-spin 1 0.25s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-splash {

  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center;
  object-fit: contain;
  width:90%;
  height:90%;
  min-height: 100vh;
  margin: 0 auto;
}

.App-header-black {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


.App-top-section {
  display: flex;
  flex-direction: column;
  max-height: 50px;
}

.App-middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.App-middle-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  margin:0px auto;
  max-width: 800px;
  font-family: 'Ubuntu';
  text-shadow: 2px 2px black;

}

.App-lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
flex: 2;
  max-height: 180px;
}

.App-menu-button {
  float: right;
  object-fit: contain;
  max-height: 25px;
  padding: 10px;
}

.App-test-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  background: black !important; 
}

.Imagesize {
  max-width: 90%;
  max-height: 90%;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Ubuntu;
  src: url('./Ubuntu-Regular.ttf');
}